<div class="container__big-card">
  <a href="#">
    <div class="big-card__picture">
      <img
        src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        alt=""
        srcset=""
      />
    </div>

    <div class="big-card__title">
      <h1>Saiu a nova versao do angular</h1>
    </div>

    <div class="big-card__description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
        voluptatibus dolor tempore officia aut impedit, id libero asperiores,
        quas esse tenetur accusamus, illum repellat praesentium...
      </p>
    </div>
  </a>
</div>
