h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 270px;
  font-weight: bold;
  font-family: "segoe UI";
  display: flex;
  justify-content: center;
}
hr {
  margin-top: 15px;
  margin-bottom: 5px;
}
