<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://s2-techtudo.glbimg.com/i2HPK7IP4KyMP7fAzoTJNvlLjlk=/0x0:1200x700/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/Y/d/HMI5j9SWeMHuDqbJTcfQ/one-piece-foto.jpg"
      cardTitle="One Piece: conheça os personagens mais famosos do anime"
      cardDescription="A longeva animação tem um vasto número de personagens que passaram pela saga e marcaram o publico; saiba quais são os principais nomes e seus dubladores no Brasil"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://s2-techtudo.glbimg.com/9NlxPMZcnf0xvkNftuOKV9WrruU=/0x0:1280x720/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/r/K/xlKVduRIGge6Ay0CRVPQ/aaaabfou5myz-a88bawig3doljnfl9bd-jtkw9yz8eh1rm568mtk5qgjclghndr2x8jy5pzufefr3ryz55qsxuhqcvpqniaiivdsbppf.jpg"
      cardTitle="6ª temporada de Hunter x Hunter: veja sinopse, personagens e dubladores"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://s2-techtudo.glbimg.com/K80OR2WwxKrfobUAFCzUVN4w1_0=/0x0:1280x720/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/E/F/Jabcg9QL6YI9Rxa9D1qA/aaaabrqmtkjitibbyhsypgoe5e0o8tiabkprgybj-vqtwa7ejs-zk1mrdhhxtcyndj88lgqcxijdcxxadxbw2ztcr-l8dbxrwysfzzpe.jpg"
      cardTitle="Scott Pilgrim - A Série tem novo trecho divulgado em evento da Netflix"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://s2-techtudo.glbimg.com/9v1LkF2ZXDfrnF9X6aA26oWgvaQ=/0x0:1920x1080/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/K/E/Ph7x2EQai3ptn8S7ReEg/mv5bodgyzjblzmqtmtfhys00yzewlwfhotmtzjc2ywfmmmmyowjmxkeyxkfqcgdeqxvynzgxmzc3otc-.-v1-.jpg"
      cardTitle="Demon Slayer: conheça todos os Hashiras de Kimetsu no Yaiba"
    ></app-small-card>
  </div>
</div>
